@import 'src/global_styles/globalFonts';
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Grey-Lighter_1);
  .numberWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .title {
      @include font(Caption2, var(--Primary-Light_3));
      margin-bottom: 10px;
    }
  }
  .actual {
    @include font(Callout1, var(--Grey-Lighter_1));
  }
  .total {
    @include font(Callout2, var(--Grey-Lighter_1));
  }
  .unit {
    @include font(Caption2, var(--Grey-Lighter_1));
  }
  .subTitle {
    margin-top: 50px;
    @include font(Caption2, var(--Grey-Lightest_2));
  }
}