:root {
  --Primary-Purple-1: #E9E9FF;
  --Primary-Purple-2: #9B51E0;

  --Basic-Black-1: #18152C;
  --Basic-Grey-1: #52505D;
  --Basic-Grey-2: #BDBDBD;
  --Basic-Grey-3: #FAFAFF;

  --Point-Red-1: #FD5B71;
  --Point-Red-2: #FFEFF1;

  --Gradient-Purple: radial-gradient(100% 100% at 142.5% 13.75%, #FFFFFF 0%, #7012CE 100%);
}