@import 'src/global_styles/globalFonts';
.cardWrap {
  width: 100%;
  height: 100%;
  background: #181A3B;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, #181A3B 24.48%, #3C5C8A 50%,  #2496FF 100%);
    right: 0;
  }
  &::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, #181A3B 24.48%, #3C5C8A 50%,  #2496FF 100%);
    left: 0;
  }
  .header {
    background: var(--Opacity-Primary);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      @include font(Widget-Title, var(--Primary-Light_1));
    }
    .time {
      @include font(Caption3, var(--Primary-Light_1));
    }
  }
  .body {
    width: 100%;
    height: 100%;
  }
}